USE [ANOCompany]
GO
/****** Object:  StoredProcedure [dbo].[WhichProducerHasTheMostSoldProDuctInTheSameCategoryInYearX]    Script Date: 17/06/2020 8:16:33 PM ******/
DROP PROCEDURE [dbo].[WhichProducerHasTheMostSoldProDuctInTheSameCategoryInYearX]
GO
/****** Object:  StoredProcedure [dbo].[VendorValueMonth]    Script Date: 17/06/2020 8:16:33 PM ******/
DROP PROCEDURE [dbo].[VendorValueMonth]
GO
/****** Object:  StoredProcedure [dbo].[UPDATE_INVOICE]    Script Date: 17/06/2020 8:16:33 PM ******/
DROP PROCEDURE [dbo].[UPDATE_INVOICE]
GO
/****** Object:  StoredProcedure [dbo].[UPDATE_EMPLOYEE]    Script Date: 17/06/2020 8:16:33 PM ******/
DROP PROCEDURE [dbo].[UPDATE_EMPLOYEE]
GO
/****** Object:  StoredProcedure [dbo].[UPDATE_COUPON]    Script Date: 17/06/2020 8:16:33 PM ******/
DROP PROCEDURE [dbo].[UPDATE_COUPON]
GO
/****** Object:  StoredProcedure [dbo].[Top5TheMostSoldProductsInYearX]    Script Date: 17/06/2020 8:16:33 PM ******/
DROP PROCEDURE [dbo].[Top5TheMostSoldProductsInYearX]
GO
/****** Object:  StoredProcedure [dbo].[Top5TheMostSoldProductInEachMonthOfYearX]    Script Date: 17/06/2020 8:16:33 PM ******/
DROP PROCEDURE [dbo].[Top5TheMostSoldProductInEachMonthOfYearX]
GO
/****** Object:  StoredProcedure [dbo].[RevenueOfEachProducerByMonthInYearX]    Script Date: 17/06/2020 8:16:33 PM ******/
DROP PROCEDURE [dbo].[RevenueOfEachProducerByMonthInYearX]
GO
/****** Object:  StoredProcedure [dbo].[RevenueOfEachCategoryByMonthInYearX]    Script Date: 17/06/2020 8:16:33 PM ******/
DROP PROCEDURE [dbo].[RevenueOfEachCategoryByMonthInYearX]
GO
/****** Object:  StoredProcedure [dbo].[ProfitOfEachProduct]    Script Date: 17/06/2020 8:16:33 PM ******/
DROP PROCEDURE [dbo].[ProfitOfEachProduct]
GO
/****** Object:  StoredProcedure [dbo].[ProductNotSaleInYearX]    Script Date: 17/06/2020 8:16:33 PM ******/
DROP PROCEDURE [dbo].[ProductNotSaleInYearX]
GO
/****** Object:  StoredProcedure [dbo].[ProductImport]    Script Date: 17/06/2020 8:16:33 PM ******/
DROP PROCEDURE [dbo].[ProductImport]
GO
/****** Object:  StoredProcedure [dbo].[ProductFollowByPrice]    Script Date: 17/06/2020 8:16:33 PM ******/
DROP PROCEDURE [dbo].[ProductFollowByPrice]
GO
/****** Object:  StoredProcedure [dbo].[ListProductWithX]    Script Date: 17/06/2020 8:16:33 PM ******/
DROP PROCEDURE [dbo].[ListProductWithX]
GO
/****** Object:  StoredProcedure [dbo].[ListOfProductsSoldTotalSoldRevenueAndProfitInMonthXYearY]    Script Date: 17/06/2020 8:16:33 PM ******/
DROP PROCEDURE [dbo].[ListOfProductsSoldTotalSoldRevenueAndProfitInMonthXYearY]
GO
/****** Object:  StoredProcedure [dbo].[ListOfInvoiceInMonthXYearX]    Script Date: 17/06/2020 8:16:33 PM ******/
DROP PROCEDURE [dbo].[ListOfInvoiceInMonthXYearX]
GO
/****** Object:  StoredProcedure [dbo].[ListOfHowMuchRevenueAndProfitEachCustomerBringingInEachMonthOfYearX]    Script Date: 17/06/2020 8:16:33 PM ******/
DROP PROCEDURE [dbo].[ListOfHowMuchRevenueAndProfitEachCustomerBringingInEachMonthOfYearX]
GO
/****** Object:  StoredProcedure [dbo].[Invoice_InvoiceFromDateXtoDateY]    Script Date: 17/06/2020 8:16:33 PM ******/
DROP PROCEDURE [dbo].[Invoice_InvoiceFromDateXtoDateY]
GO
/****** Object:  StoredProcedure [dbo].[InventoryPriceEachMonthInYearX]    Script Date: 17/06/2020 8:16:33 PM ******/
DROP PROCEDURE [dbo].[InventoryPriceEachMonthInYearX]
GO
/****** Object:  StoredProcedure [dbo].[INSERT_INVOICEDETAIL]    Script Date: 17/06/2020 8:16:33 PM ******/
DROP PROCEDURE [dbo].[INSERT_INVOICEDETAIL]
GO
/****** Object:  StoredProcedure [dbo].[INSERT_INVOICE]    Script Date: 17/06/2020 8:16:33 PM ******/
DROP PROCEDURE [dbo].[INSERT_INVOICE]
GO
/****** Object:  StoredProcedure [dbo].[INSERT_ENTERCOUPONDETAIL]    Script Date: 17/06/2020 8:16:33 PM ******/
DROP PROCEDURE [dbo].[INSERT_ENTERCOUPONDETAIL]
GO
/****** Object:  StoredProcedure [dbo].[INSERT_EMPLOYEE]    Script Date: 17/06/2020 8:16:33 PM ******/
DROP PROCEDURE [dbo].[INSERT_EMPLOYEE]
GO
/****** Object:  StoredProcedure [dbo].[INSERT_COUPON]    Script Date: 17/06/2020 8:16:33 PM ******/
DROP PROCEDURE [dbo].[INSERT_COUPON]
GO
/****** Object:  StoredProcedure [dbo].[DiscountWithBirthdayInMonthX]    Script Date: 17/06/2020 8:16:33 PM ******/
DROP PROCEDURE [dbo].[DiscountWithBirthdayInMonthX]
GO
/****** Object:  StoredProcedure [dbo].[DELETE_EMPLOYEE]    Script Date: 17/06/2020 8:16:33 PM ******/
DROP PROCEDURE [dbo].[DELETE_EMPLOYEE]
GO
/****** Object:  StoredProcedure [dbo].[Customer_Top5VIP]    Script Date: 17/06/2020 8:16:33 PM ******/
DROP PROCEDURE [dbo].[Customer_Top5VIP]
GO
/****** Object:  StoredProcedure [dbo].[CheckCategoryXYZ]    Script Date: 17/06/2020 8:16:33 PM ******/
DROP PROCEDURE [dbo].[CheckCategoryXYZ]
GO
/****** Object:  StoredProcedure [dbo].[CalculateRevenueAndProfitsOfMonthsInYearX]    Script Date: 17/06/2020 8:16:33 PM ******/
DROP PROCEDURE [dbo].[CalculateRevenueAndProfitsOfMonthsInYearX]
GO
/****** Object:  StoredProcedure [dbo].[AverageInvoiceOfYearX]    Script Date: 17/06/2020 8:16:33 PM ******/
DROP PROCEDURE [dbo].[AverageInvoiceOfYearX]
GO
/****** Object:  StoredProcedure [dbo].[Admin_CheckLogin]    Script Date: 17/06/2020 8:16:33 PM ******/
DROP PROCEDURE [dbo].[Admin_CheckLogin]
GO
ALTER TABLE [dbo].[Product] DROP CONSTRAINT [CK_PriceProduct]
GO
ALTER TABLE [dbo].[InvoiceDetail] DROP CONSTRAINT [CHK_InvoiceDetail_Quanity]
GO
ALTER TABLE [dbo].[Inventory] DROP CONSTRAINT [CK_Inventory]
GO
ALTER TABLE [dbo].[EnterCouponDetail] DROP CONSTRAINT [CHK_EnterCouponDetail_Quanity]
GO
ALTER TABLE [dbo].[Product] DROP CONSTRAINT [FK_Product_Producer]
GO
ALTER TABLE [dbo].[Product] DROP CONSTRAINT [FK_Product_Category]
GO
ALTER TABLE [dbo].[InvoiceDetail] DROP CONSTRAINT [FK_InvoiceDetail_Product]
GO
ALTER TABLE [dbo].[InvoiceDetail] DROP CONSTRAINT [FK_InvoiceDetail_Invoice]
GO
ALTER TABLE [dbo].[Invoice] DROP CONSTRAINT [FK_Invoice_Employee]
GO
ALTER TABLE [dbo].[Invoice] DROP CONSTRAINT [FK_Invoice_Customer]
GO
ALTER TABLE [dbo].[Inventory] DROP CONSTRAINT [FK_Inventory_Product]
GO
ALTER TABLE [dbo].[EnterCouponDetail] DROP CONSTRAINT [FK_EnterCouponDetail_Product]
GO
ALTER TABLE [dbo].[EnterCouponDetail] DROP CONSTRAINT [FK_EnterCouponDetail_EnterCoupon]
GO
ALTER TABLE [dbo].[EnterCoupon] DROP CONSTRAINT [FK_EnterCoupon_Vendor]
GO
ALTER TABLE [dbo].[EnterCoupon] DROP CONSTRAINT [FK_EnterCoupon_Employee]
GO
ALTER TABLE [dbo].[Employee] DROP CONSTRAINT [FK_Employee_Position]
GO
/****** Object:  Index [UNQ_Vendor_ID_Vendor_NameVendor]    Script Date: 17/06/2020 8:16:33 PM ******/
ALTER TABLE [dbo].[Vendor] DROP CONSTRAINT [UNQ_Vendor_ID_Vendor_NameVendor]
GO
/****** Object:  Table [dbo].[Vendor]    Script Date: 17/06/2020 8:16:33 PM ******/
DROP TABLE [dbo].[Vendor]
GO
/****** Object:  Table [dbo].[Product]    Script Date: 17/06/2020 8:16:33 PM ******/
DROP TABLE [dbo].[Product]
GO
/****** Object:  Table [dbo].[Producer]    Script Date: 17/06/2020 8:16:33 PM ******/
DROP TABLE [dbo].[Producer]
GO
/****** Object:  Table [dbo].[Position]    Script Date: 17/06/2020 8:16:33 PM ******/
DROP TABLE [dbo].[Position]
GO
/****** Object:  Table [dbo].[InvoiceDetail]    Script Date: 17/06/2020 8:16:33 PM ******/
DROP TABLE [dbo].[InvoiceDetail]
GO
/****** Object:  Table [dbo].[Invoice]    Script Date: 17/06/2020 8:16:33 PM ******/
DROP TABLE [dbo].[Invoice]
GO
/****** Object:  Table [dbo].[Inventory]    Script Date: 17/06/2020 8:16:33 PM ******/
DROP TABLE [dbo].[Inventory]
GO
/****** Object:  Table [dbo].[EnterCouponDetail]    Script Date: 17/06/2020 8:16:33 PM ******/
DROP TABLE [dbo].[EnterCouponDetail]
GO
/****** Object:  Table [dbo].[EnterCoupon]    Script Date: 17/06/2020 8:16:33 PM ******/
DROP TABLE [dbo].[EnterCoupon]
GO
/****** Object:  Table [dbo].[Employee]    Script Date: 17/06/2020 8:16:33 PM ******/
DROP TABLE [dbo].[Employee]
GO
/****** Object:  Table [dbo].[Customer]    Script Date: 17/06/2020 8:16:33 PM ******/
DROP TABLE [dbo].[Customer]
GO
/****** Object:  Table [dbo].[Category]    Script Date: 17/06/2020 8:16:33 PM ******/
DROP TABLE [dbo].[Category]
GO
/****** Object:  Table [dbo].[Admin]    Script Date: 17/06/2020 8:16:33 PM ******/
DROP TABLE [dbo].[Admin]
GO
/****** Object:  Table [dbo].[A]    Script Date: 17/06/2020 8:16:33 PM ******/
DROP TABLE [dbo].[A]
GO
/****** Object:  Table [dbo].[A]    Script Date: 17/06/2020 8:16:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[A](
	[ID_Invoice] [nchar](10) NOT NULL,
	[X] [float] NOT NULL,
	[Y] [float] NOT NULL,
	[Z] [float] NOT NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Admin]    Script Date: 17/06/2020 8:16:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Admin](
	[username] [nvarchar](30) NOT NULL,
	[password] [nvarchar](50) NOT NULL,
	[ID_Position] [char](4) NOT NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Category]    Script Date: 17/06/2020 8:16:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Category](
	[ID_ProductClass] [nchar](10) NOT NULL,
	[Category] [nvarchar](100) NOT NULL,
 CONSTRAINT [PK_Category] PRIMARY KEY CLUSTERED 
(
	[ID_ProductClass] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Customer]    Script Date: 17/06/2020 8:16:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Customer](
	[ID_Customer] [nchar](10) NOT NULL,
	[NameCustomer] [nvarchar](100) NULL,
	[AddressCustomer] [nvarchar](100) NOT NULL,
	[PhoneCustomer] [float] NULL,
	[BirthdayCustomer] [date] NULL,
	[GenderCustomer] [nchar](10) NULL,
 CONSTRAINT [PK_Customer] PRIMARY KEY CLUSTERED 
(
	[ID_Customer] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Employee]    Script Date: 17/06/2020 8:16:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Employee](
	[ID_Employee] [nchar](10) NOT NULL,
	[ID_Position] [char](4) NULL,
	[NameEmployee] [nvarchar](100) NULL,
	[PhoneEmployee] [float] NULL,
 CONSTRAINT [PK_Employee] PRIMARY KEY CLUSTERED 
(
	[ID_Employee] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[EnterCoupon]    Script Date: 17/06/2020 8:16:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EnterCoupon](
	[ID_Enter] [nchar](10) NOT NULL,
	[ID_Employee] [nchar](10) NULL,
	[ID_Vendor] [nchar](10) NULL,
	[CreateAt] [date] NULL,
	[TotalValue] [float] NULL,
 CONSTRAINT [PK_EnterCoupon] PRIMARY KEY CLUSTERED 
(
	[ID_Enter] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[EnterCouponDetail]    Script Date: 17/06/2020 8:16:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EnterCouponDetail](
	[ID_Enter] [nchar](10) NOT NULL,
	[ID_Product] [nchar](10) NOT NULL,
	[Quanity] [float] NULL,
	[TotalValue] [float] NULL,
 CONSTRAINT [PK_EnterCouponDetail] PRIMARY KEY CLUSTERED 
(
	[ID_Enter] ASC,
	[ID_Product] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Inventory]    Script Date: 17/06/2020 8:16:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Inventory](
	[Period] [datetime] NOT NULL,
	[ID_Product] [nchar](10) NOT NULL,
	[QuanityFirst] [float] NULL,
	[TotalQuanityPurchase] [float] NULL,
	[TotalQuanitySale] [float] NULL,
	[QuanityLast] [float] NULL,
 CONSTRAINT [PK_Inventory] PRIMARY KEY CLUSTERED 
(
	[Period] ASC,
	[ID_Product] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Invoice]    Script Date: 17/06/2020 8:16:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Invoice](
	[ID_Invoice] [nchar](10) NOT NULL,
	[ID_Customer] [nchar](10) NOT NULL,
	[CreateAt] [date] NULL CONSTRAINT [DF__Invoice__CreateA__164452B1]  DEFAULT (getdate()),
	[ID_Employee] [nchar](10) NULL,
	[TotalValue] [float] NULL,
 CONSTRAINT [PRK_Invoice_ID_Invoice] PRIMARY KEY CLUSTERED 
(
	[ID_Invoice] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[InvoiceDetail]    Script Date: 17/06/2020 8:16:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[InvoiceDetail](
	[ID_Invoice] [nchar](10) NOT NULL,
	[ID_Product] [nchar](10) NOT NULL,
	[Quanity] [float] NULL,
	[TotalValue] [float] NULL,
 CONSTRAINT [PRK_InvoiceDetail_ID_Invoice_ID_Product] PRIMARY KEY CLUSTERED 
(
	[ID_Product] ASC,
	[ID_Invoice] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Position]    Script Date: 17/06/2020 8:16:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Position](
	[ID_Position] [char](4) NOT NULL,
	[Position] [nchar](50) NULL,
	[Permision] [nchar](20) NULL,
 CONSTRAINT [PK_Position] PRIMARY KEY CLUSTERED 
(
	[ID_Position] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Producer]    Script Date: 17/06/2020 8:16:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Producer](
	[ID_Producer] [nchar](10) NOT NULL,
	[NameProducer] [nvarchar](100) NULL,
 CONSTRAINT [PK_Producer] PRIMARY KEY CLUSTERED 
(
	[ID_Producer] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Product]    Script Date: 17/06/2020 8:16:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Product](
	[ID_Product] [nchar](10) NOT NULL,
	[ID_ProductClass] [nchar](10) NULL,
	[ID_Producer] [nchar](10) NULL,
	[NameProduct] [nvarchar](100) NULL,
	[Price_Purchase] [float] NULL,
	[Price_Sale] [float] NULL,
	[TotalQuanity] [float] NULL,
	[UpdateAt] [date] NULL,
 CONSTRAINT [PK_Product] PRIMARY KEY CLUSTERED 
(
	[ID_Product] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Vendor]    Script Date: 17/06/2020 8:16:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Vendor](
	[ID_Vendor] [nchar](10) NOT NULL,
	[NameVendor] [nvarchar](100) NULL,
	[AddressVendor] [nvarchar](200) NULL,
	[PhoneVendor] [float] NULL,
 CONSTRAINT [PRK_Vendor_ID_Vendor] PRIMARY KEY CLUSTERED 
(
	[ID_Vendor] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
INSERT [dbo].[A] ([ID_Invoice], [X], [Y], [Z]) VALUES (N'HD01      ', 0, 0, 150000)
INSERT [dbo].[A] ([ID_Invoice], [X], [Y], [Z]) VALUES (N'HD02      ', 0, 95000, 0)
INSERT [dbo].[A] ([ID_Invoice], [X], [Y], [Z]) VALUES (N'HD03      ', 101000, 0, 0)
INSERT [dbo].[Admin] ([username], [password], [ID_Position]) VALUES (N'admin     ', N'7c4a8d09ca3762af61e59520943dc26494f8941b', N'NVQL')
INSERT [dbo].[Admin] ([username], [password], [ID_Position]) VALUES (N'nv1       ', N'7c4a8d09ca3762af61e59520943dc26494f8941b', N'NVBH')
INSERT [dbo].[Admin] ([username], [password], [ID_Position]) VALUES (N'nv2       ', N'7c4a8d09ca3762af61e59520943dc26494f8941b', N'NVTK')
INSERT [dbo].[Category] ([ID_ProductClass], [Category]) VALUES (N'SB        ', N'Sua bot')
INSERT [dbo].[Category] ([ID_ProductClass], [Category]) VALUES (N'SC        ', N'Sua chua')
INSERT [dbo].[Category] ([ID_ProductClass], [Category]) VALUES (N'SD        ', N'Sua dac')
INSERT [dbo].[Customer] ([ID_Customer], [NameCustomer], [AddressCustomer], [PhoneCustomer], [BirthdayCustomer], [GenderCustomer]) VALUES (N'KH01      ', N'Nguyen Van A', N'731 Tran Hung Dao, Q5, TpHCM', 8823451, CAST(N'1960-10-10' AS Date), N'male      ')
INSERT [dbo].[Customer] ([ID_Customer], [NameCustomer], [AddressCustomer], [PhoneCustomer], [BirthdayCustomer], [GenderCustomer]) VALUES (N'KH02      ', N'Tran Ngoc Han', N'23/5 Nguyen Trai, Q5, TpHCM', 908256478, CAST(N'1974-03-04' AS Date), N'female    ')
INSERT [dbo].[Customer] ([ID_Customer], [NameCustomer], [AddressCustomer], [PhoneCustomer], [BirthdayCustomer], [GenderCustomer]) VALUES (N'KH03      ', N'Tran Ngoc Linh', N'45 Nguyen Canh Chan, Q1, TpHCM', 938776266, CAST(N'1980-12-06' AS Date), N'female    ')
INSERT [dbo].[Employee] ([ID_Employee], [ID_Position], [NameEmployee], [PhoneEmployee]) VALUES (N'NVBH01    ', N'NVBH', N'Nguyen Nhu Nhut', 927345678)
INSERT [dbo].[Employee] ([ID_Employee], [ID_Position], [NameEmployee], [PhoneEmployee]) VALUES (N'NVBH02    ', N'NVBH', N'Le Thi Phi Yen', 987567390)
INSERT [dbo].[Employee] ([ID_Employee], [ID_Position], [NameEmployee], [PhoneEmployee]) VALUES (N'NVBH03    ', N'NVBH', N'Nguyen Van B', 997047382)
INSERT [dbo].[EnterCoupon] ([ID_Enter], [ID_Employee], [ID_Vendor], [CreateAt], [TotalValue]) VALUES (N'PN01      ', N'NVTK01    ', N'C01       ', CAST(N'2019-01-01' AS Date), 1388000)
INSERT [dbo].[EnterCoupon] ([ID_Enter], [ID_Employee], [ID_Vendor], [CreateAt], [TotalValue]) VALUES (N'PN02      ', N'NVTK02    ', N'C02       ', CAST(N'2019-01-01' AS Date), 3085000)
INSERT [dbo].[EnterCoupon] ([ID_Enter], [ID_Employee], [ID_Vendor], [CreateAt], [TotalValue]) VALUES (N'PN03      ', N'NVTK01    ', N'C03       ', CAST(N'2019-01-01' AS Date), 1411000)
INSERT [dbo].[EnterCouponDetail] ([ID_Enter], [ID_Product], [Quanity], [TotalValue]) VALUES (N'PN01      ', N'DLSC04    ', 10, 200000)
INSERT [dbo].[EnterCouponDetail] ([ID_Enter], [ID_Product], [Quanity], [TotalValue]) VALUES (N'PN01      ', N'DLSC05    ', 10, 200000)
INSERT [dbo].[EnterCouponDetail] ([ID_Enter], [ID_Product], [Quanity], [TotalValue]) VALUES (N'PN01      ', N'DLSD01    ', 10, 190000)
INSERT [dbo].[Inventory] ([Period], [ID_Product], [QuanityFirst], [TotalQuanityPurchase], [TotalQuanitySale], [QuanityLast]) VALUES (CAST(N'2019-01-31 00:00:00.000' AS DateTime), N'DLSB01    ', 5, 0, 1, 4)
INSERT [dbo].[Inventory] ([Period], [ID_Product], [QuanityFirst], [TotalQuanityPurchase], [TotalQuanitySale], [QuanityLast]) VALUES (CAST(N'2019-01-31 00:00:00.000' AS DateTime), N'DLSB02    ', 8, 0, 0, 8)
INSERT [dbo].[Inventory] ([Period], [ID_Product], [QuanityFirst], [TotalQuanityPurchase], [TotalQuanitySale], [QuanityLast]) VALUES (CAST(N'2019-01-31 00:00:00.000' AS DateTime), N'DLSC01    ', 7, 0, 5, 2)
GO
INSERT [dbo].[Invoice] ([ID_Invoice], [ID_Customer], [CreateAt], [ID_Employee], [TotalValue]) VALUES (N'HD01      ', N'KH02      ', CAST(N'2019-01-06' AS Date), N'NVBH02    ', 150000)
INSERT [dbo].[Invoice] ([ID_Invoice], [ID_Customer], [CreateAt], [ID_Employee], [TotalValue]) VALUES (N'HD02      ', N'KH04      ', CAST(N'2019-01-07' AS Date), N'NVBH02    ', 95000)
INSERT [dbo].[Invoice] ([ID_Invoice], [ID_Customer], [CreateAt], [ID_Employee], [TotalValue]) VALUES (N'HD03      ', N'KH05      ', CAST(N'2019-01-10' AS Date), N'NVBH04    ', 101000)
GO
INSERT [dbo].[InvoiceDetail] ([ID_Invoice], [ID_Product], [Quanity], [TotalValue]) VALUES (N'HD01      ', N'DLSB01    ', 1, 150000)
INSERT [dbo].[InvoiceDetail] ([ID_Invoice], [ID_Product], [Quanity], [TotalValue]) VALUES (N'HD50      ', N'DLSB01    ', 2, 300000)
INSERT [dbo].[InvoiceDetail] ([ID_Invoice], [ID_Product], [Quanity], [TotalValue]) VALUES (N'HD82      ', N'DLSB01    ', 4, 600000)
GO
INSERT [dbo].[Position] ([ID_Position], [Position], [Permision]) VALUES (N'NVBH', N'Nhan vien ban hang                                ', N'Ban hang            ')
INSERT [dbo].[Position] ([ID_Position], [Position], [Permision]) VALUES (N'NVQL', N'Nhan vien quan ly                                 ', N'Quan ly ban hang    ')
INSERT [dbo].[Position] ([ID_Position], [Position], [Permision]) VALUES (N'NVTK', N'Nhan vien thu kho                                 ', N'Quan ly kho         ')
INSERT [dbo].[Producer] ([ID_Producer], [NameProducer]) VALUES (N'DL        ', N'Dutch Lady')
INSERT [dbo].[Producer] ([ID_Producer], [NameProducer]) VALUES (N'TH        ', N'TH True milk')
INSERT [dbo].[Producer] ([ID_Producer], [NameProducer]) VALUES (N'VNM       ', N'Vinamilk')
INSERT [dbo].[Product] ([ID_Product], [ID_ProductClass], [ID_Producer], [NameProduct], [Price_Purchase], [Price_Sale], [TotalQuanity], [UpdateAt]) VALUES (N'DLSB01    ', N'SB        ', N'DL        ', N'DUTCH LADY kham pha 400g', 135000, 150000, 8, CAST(N'2019-07-27' AS Date))
INSERT [dbo].[Product] ([ID_Product], [ID_ProductClass], [ID_Producer], [NameProduct], [Price_Purchase], [Price_Sale], [TotalQuanity], [UpdateAt]) VALUES (N'DLSB02    ', N'SB        ', N'DL        ', N'DUTCH LADY kham pha gold 400g', 155000, 170000, 4, CAST(N'2019-07-15' AS Date))
INSERT [dbo].[Product] ([ID_Product], [ID_ProductClass], [ID_Producer], [NameProduct], [Price_Purchase], [Price_Sale], [TotalQuanity], [UpdateAt]) VALUES (N'DLSC01    ', N'SC        ', N'DL        ', N'Sua chua an co duong', 19000, 24000, 10, CAST(N'2019-11-15' AS Date))
INSERT [dbo].[Vendor] ([ID_Vendor], [NameVendor], [AddressVendor], [PhoneVendor]) VALUES (N'C01       ', N'Cty A', N'370, Le Van Viet, Quan 10, HCM', 918456823)
INSERT [dbo].[Vendor] ([ID_Vendor], [NameVendor], [AddressVendor], [PhoneVendor]) VALUES (N'C02       ', N'Cty B', N'so 8, Hoang Dieu, Quan 8, HCM', 83245678)
INSERT [dbo].[Vendor] ([ID_Vendor], [NameVendor], [AddressVendor], [PhoneVendor]) VALUES (N'C03       ', N'Cty C', N'4 QL1A, Thu Duc', 918666772)
SET ANSI_PADDING ON

GO
/****** Object:  Index [UNQ_Vendor_ID_Vendor_NameVendor]    Script Date: 17/06/2020 8:16:33 PM ******/
ALTER TABLE [dbo].[Vendor] ADD  CONSTRAINT [UNQ_Vendor_ID_Vendor_NameVendor] UNIQUE NONCLUSTERED 
(
	[NameVendor] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Employee]  WITH CHECK ADD  CONSTRAINT [FK_Employee_Position] FOREIGN KEY([ID_Position])
REFERENCES [dbo].[Position] ([ID_Position])
GO
ALTER TABLE [dbo].[Employee] CHECK CONSTRAINT [FK_Employee_Position]
GO
ALTER TABLE [dbo].[EnterCoupon]  WITH CHECK ADD  CONSTRAINT [FK_EnterCoupon_Employee] FOREIGN KEY([ID_Employee])
REFERENCES [dbo].[Employee] ([ID_Employee])
GO
ALTER TABLE [dbo].[EnterCoupon] CHECK CONSTRAINT [FK_EnterCoupon_Employee]
GO
ALTER TABLE [dbo].[EnterCoupon]  WITH CHECK ADD  CONSTRAINT [FK_EnterCoupon_Vendor] FOREIGN KEY([ID_Vendor])
REFERENCES [dbo].[Vendor] ([ID_Vendor])
GO
ALTER TABLE [dbo].[EnterCoupon] CHECK CONSTRAINT [FK_EnterCoupon_Vendor]
GO
ALTER TABLE [dbo].[EnterCouponDetail]  WITH CHECK ADD  CONSTRAINT [FK_EnterCouponDetail_EnterCoupon] FOREIGN KEY([ID_Enter])
REFERENCES [dbo].[EnterCoupon] ([ID_Enter])
GO
ALTER TABLE [dbo].[EnterCouponDetail] CHECK CONSTRAINT [FK_EnterCouponDetail_EnterCoupon]
GO
ALTER TABLE [dbo].[EnterCouponDetail]  WITH CHECK ADD  CONSTRAINT [FK_EnterCouponDetail_Product] FOREIGN KEY([ID_Product])
REFERENCES [dbo].[Product] ([ID_Product])
GO
ALTER TABLE [dbo].[EnterCouponDetail] CHECK CONSTRAINT [FK_EnterCouponDetail_Product]
GO
ALTER TABLE [dbo].[Inventory]  WITH CHECK ADD  CONSTRAINT [FK_Inventory_Product] FOREIGN KEY([ID_Product])
REFERENCES [dbo].[Product] ([ID_Product])
GO
ALTER TABLE [dbo].[Inventory] CHECK CONSTRAINT [FK_Inventory_Product]
GO
ALTER TABLE [dbo].[Invoice]  WITH CHECK ADD  CONSTRAINT [FK_Invoice_Customer] FOREIGN KEY([ID_Customer])
REFERENCES [dbo].[Customer] ([ID_Customer])
GO
ALTER TABLE [dbo].[Invoice] CHECK CONSTRAINT [FK_Invoice_Customer]
GO
ALTER TABLE [dbo].[Invoice]  WITH CHECK ADD  CONSTRAINT [FK_Invoice_Employee] FOREIGN KEY([ID_Employee])
REFERENCES [dbo].[Employee] ([ID_Employee])
GO
ALTER TABLE [dbo].[Invoice] CHECK CONSTRAINT [FK_Invoice_Employee]
GO
ALTER TABLE [dbo].[InvoiceDetail]  WITH CHECK ADD  CONSTRAINT [FK_InvoiceDetail_Invoice] FOREIGN KEY([ID_Invoice])
REFERENCES [dbo].[Invoice] ([ID_Invoice])
GO
ALTER TABLE [dbo].[InvoiceDetail] CHECK CONSTRAINT [FK_InvoiceDetail_Invoice]
GO
ALTER TABLE [dbo].[InvoiceDetail]  WITH CHECK ADD  CONSTRAINT [FK_InvoiceDetail_Product] FOREIGN KEY([ID_Product])
REFERENCES [dbo].[Product] ([ID_Product])
GO
ALTER TABLE [dbo].[InvoiceDetail] CHECK CONSTRAINT [FK_InvoiceDetail_Product]
GO
ALTER TABLE [dbo].[Product]  WITH CHECK ADD  CONSTRAINT [FK_Product_Category] FOREIGN KEY([ID_ProductClass])
REFERENCES [dbo].[Category] ([ID_ProductClass])
GO
ALTER TABLE [dbo].[Product] CHECK CONSTRAINT [FK_Product_Category]
GO
ALTER TABLE [dbo].[Product]  WITH CHECK ADD  CONSTRAINT [FK_Product_Producer] FOREIGN KEY([ID_Producer])
REFERENCES [dbo].[Producer] ([ID_Producer])
GO
ALTER TABLE [dbo].[Product] CHECK CONSTRAINT [FK_Product_Producer]
GO
ALTER TABLE [dbo].[EnterCouponDetail]  WITH CHECK ADD  CONSTRAINT [CHK_EnterCouponDetail_Quanity] CHECK  (([Quanity]>(0)))
GO
ALTER TABLE [dbo].[EnterCouponDetail] CHECK CONSTRAINT [CHK_EnterCouponDetail_Quanity]
GO
ALTER TABLE [dbo].[Inventory]  WITH CHECK ADD  CONSTRAINT [CK_Inventory] CHECK  (([QuanityLast]=(([QuanityFirst]+[TotalQuanityPurchase])-[TotalQuanitySale])))
GO
ALTER TABLE [dbo].[Inventory] CHECK CONSTRAINT [CK_Inventory]
GO
ALTER TABLE [dbo].[InvoiceDetail]  WITH CHECK ADD  CONSTRAINT [CHK_InvoiceDetail_Quanity] CHECK  (([Quanity]>(0)))
GO
ALTER TABLE [dbo].[InvoiceDetail] CHECK CONSTRAINT [CHK_InvoiceDetail_Quanity]
GO
ALTER TABLE [dbo].[Product]  WITH CHECK ADD  CONSTRAINT [CK_PriceProduct] CHECK  (([Price_Purchase]<[Price_Sale]))
GO
ALTER TABLE [dbo].[Product] CHECK CONSTRAINT [CK_PriceProduct]
GO
/****** Object:  StoredProcedure [dbo].[Admin_CheckLogin]    Script Date: 17/06/2020 8:16:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[Admin_CheckLogin] @username nchar(10), @password nvarchar (50)
as
 /* CHECK LOGIN */
	SELECT us.username,us.ID_Position, po.Permision 
	FROM [Admin] as us 	INNER JOIN [Position] as po 	ON us.ID_Position = po.ID_Position 
	WHERE LOWER(username) = LOWER(@username) and password = @password;
	

GO
/****** Object:  StoredProcedure [dbo].[AverageInvoiceOfYearX]    Script Date: 17/06/2020 8:16:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[AverageInvoiceOfYearX]  @Year int
AS
SELECT Month(Invoice.CreateAt) AS Month_,ROUND(AVG(Invoice.TotalValue),2)AS AverageInvoice
FROM  InvoiceDetail inner join Invoice on InvoiceDetail.ID_Invoice=Invoice.ID_Invoice
WHERE YEAR(Invoice.CreateAt)=@Year
GROUP BY  Month(Invoice.CreateAt)


GO
/****** Object:  StoredProcedure [dbo].[CalculateRevenueAndProfitsOfMonthsInYearX]    Script Date: 17/06/2020 8:16:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[CalculateRevenueAndProfitsOfMonthsInYearX] @year int
AS
SELECT Month(inv.CreateAt) as Month, Sum(invdl.TotalValue) AS Revenue, sum( invdl.TotalValue - invdl.Quanity*p.Price_Purchase) AS Profit
FROM InvoiceDetail as invdl inner join Product as P on invdl.ID_Product = p.ID_Product
                            inner join Invoice as inv on invdl.ID_Invoice = inv.ID_Invoice
WHERE YEAR(inv.CreateAt) = @year
GROUP BY Month(inv.CreateAt)
ORDER BY Profit Desc

GO
/****** Object:  StoredProcedure [dbo].[CheckCategoryXYZ]    Script Date: 17/06/2020 8:16:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO






CREATE PROCEDURE [dbo].[CheckCategoryXYZ] 
(@X NCHAR(10), @Y NCHAR(10), @Z NCHAR(10))
AS
BEGIN
SELECT (SELECT COUNT(P.ID_Invoice)
        FROM( SELECT INV.ID_Invoice, ISNULL((SELECT SUM(invdl.Quanity*p.Price_Sale)
											 FROM InvoiceDetail as invdl inner join Product as p on invdl.ID_Product = p.ID_Product
											 WHERE invdl.ID_Invoice = inv.ID_Invoice
                                             GROUP BY P.ID_ProductClass
                                             HAVING P.ID_ProductClass = @X), 0) AS X,
									 ISNULL((SELECT SUM(invdl.Quanity*p.Price_Sale)
											 FROM InvoiceDetail as invdl inner join Product as p on invdl.ID_Product = p.ID_Product
											 WHERE invdl.ID_Invoice = inv.ID_Invoice
											 GROUP BY P.ID_ProductClass
											 HAVING P.ID_ProductClass = @Y), 0) AS Y,
									 ISNULL((SELECT SUM(invdl.Quanity*P.Price_Sale)
											 FROM InvoiceDetail as invdl inner join Product as p on invdl.ID_Product = p.ID_Product
                                             WHERE invdl.ID_Invoice = inv.ID_Invoice
                                             GROUP BY P.ID_ProductClass
                                             HAVING P.ID_ProductClass =  @Z), 0) AS Z
               FROM Invoice AS INV) AS P
		  WHERE P.X>0 AND P.Y>0 AND P.Z>0) * 100.0/
		       (SELECT COUNT(P.ID_Invoice)
                FROM( SELECT INV.ID_Invoice, ISNULL((SELECT SUM(invdl.Quanity*p.Price_Sale)
                                                     FROM InvoiceDetail as invdl inner join Product as p on invdl.ID_Product = p.ID_Product
                                                     WHERE invdl.ID_Invoice = inv.ID_Invoice
                                                     GROUP BY P.ID_ProductClass
                                                     HAVING P.ID_ProductClass = @X), 0) AS X,
							                  ISNULL((SELECT SUM(invdl.Quanity*p.Price_Sale)
                                                      FROM InvoiceDetail as invdl inner join Product as p on invdl.ID_Product = p.ID_Product
                                                      WHERE invdl.ID_Invoice = inv.ID_Invoice
                                                      GROUP BY P.ID_ProductClass
                                                      HAVING P.ID_ProductClass = @Y), 0) AS Y,
							                  ISNULL((SELECT SUM(invdl.Quanity*P.Price_Sale)
                                                      FROM InvoiceDetail as invdl inner join Product as p on invdl.ID_Product = p.ID_Product
                                                      WHERE invdl.ID_Invoice = inv.ID_Invoice
                                                      GROUP BY P.ID_ProductClass
                                                      HAVING P.ID_ProductClass =  @Z), 1) AS Z
                             FROM Invoice AS INV)AS P
                 WHERE P.X>0 AND P.Y>0)
END;








GO
/****** Object:  StoredProcedure [dbo].[Customer_Top5VIP]    Script Date: 17/06/2020 8:16:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[Customer_Top5VIP]  @Year int
AS
BEGIN
DECLARE @Month int=0
WHILE @Month<12
BEGIN	
SET @Month=@Month+1;
SELECT TOP(5) Month(Invoice.CreateAt) AS Month,Customer.ID_Customer,
Customer.NameCustomer, Customer.BirthdayCustomer,Customer.GenderCustomer, SUM(Invoice.TotalValue) AS Revenue, COUNT(Invoice.ID_Customer) AS Times
FROM Invoice inner join Customer on Invoice.ID_Customer=Customer.ID_Customer
WHERE Month(Invoice.CreateAt)=@Month and Year(Invoice.CreateAt)=@Year
GROUP BY Month(Invoice.CreateAt), Customer.ID_Customer, Customer.NameCustomer,  Customer.BirthdayCustomer,Customer.GenderCustomer
ORDER BY COUNT(Invoice.ID_Customer) DESC
END
END





GO
/****** Object:  StoredProcedure [dbo].[DELETE_EMPLOYEE]    Script Date: 17/06/2020 8:16:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[DELETE_EMPLOYEE] @idemployee nchar(10)=null
 
AS
BEGIN
     DELETE Employee
	 WHERE ID_Employee=@idemployee
END


GO
/****** Object:  StoredProcedure [dbo].[DiscountWithBirthdayInMonthX]    Script Date: 17/06/2020 8:16:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[DiscountWithBirthdayInMonthX] @Month nchar(10)
AS
SELECT Customer.*, Invoice.TotalValue*(1-0.05) as Total_AfterDiscount
FROM Invoice inner join Customer on Invoice.ID_Customer=Customer.ID_Customer
WHERE MONTH(Customer.BirthdayCustomer)=@Month and Month(Invoice.CreateAt)=@Month




GO
/****** Object:  StoredProcedure [dbo].[INSERT_COUPON]    Script Date: 17/06/2020 8:16:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[INSERT_COUPON] @identer nchar(10)=null, @idemployee nchar(10)=null, @idvendor nchar(10)=null, @at datetime, @value float=null
AS
BEGIN
     INSERT INTO EnterCoupon(ID_Enter, ID_Employee, ID_Vendor, CreateAt, TotalValue)
     VALUES(@identer, @idemployee, @idvendor, @at, @value)
END

GO
/****** Object:  StoredProcedure [dbo].[INSERT_EMPLOYEE]    Script Date: 17/06/2020 8:16:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[INSERT_EMPLOYEE] @idemployee nchar(10)=null, @idposition char(4)=null, @name nvarchar(80)=null, @phone int =null
AS
BEGIN
     INSERT INTO Employee(ID_Employee, ID_Position, NameEmployee, PhoneEmployee)
     VALUES(@idemployee, @idposition, @name, @phone)
END



GO
/****** Object:  StoredProcedure [dbo].[INSERT_ENTERCOUPONDETAIL]    Script Date: 17/06/2020 8:16:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
 CREATE PROCEDURE [dbo].[INSERT_ENTERCOUPONDETAIL] @idcoupon nchar(10)=null, @idproduct    nchar(10)=null, @quantity float=null, @value float=null
 AS
 BEGIN
     INSERT INTO ENTERCOUPONDETAIL(ID_Enter, ID_Product, Quanity, TotalValue)
     VALUES(@idcoupon, @idproduct, @quantity, @value)
 END

 
GO
/****** Object:  StoredProcedure [dbo].[INSERT_INVOICE]    Script Date: 17/06/2020 8:16:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[INSERT_INVOICE] @idinvoice nchar(10)=null, @idcustomer nchar(10)=null, @at datetime=null, @idemployee nchar(10)=null, @value float=null
AS
BEGIN
     INSERT INTO Invoice(ID_Invoice, ID_Customer, CreateAt, ID_Employee, TotalValue)
     VALUES(@idinvoice, @idcustomer, @at, @idemployee, @value)
END

GO
/****** Object:  StoredProcedure [dbo].[INSERT_INVOICEDETAIL]    Script Date: 17/06/2020 8:16:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
 CREATE PROCEDURE [dbo].[INSERT_INVOICEDETAIL] @idinvoice nchar(10)=null, @idproduct    nchar(10)=null, @quantity float=null, @value float=null
 AS
 BEGIN
     INSERT INTO InvoiceDetail(ID_Invoice, ID_Product, Quanity, TotalValue)
     VALUES(@idinvoice, @idproduct, @quantity, @value)
 END


GO
/****** Object:  StoredProcedure [dbo].[InventoryPriceEachMonthInYearX]    Script Date: 17/06/2020 8:16:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[InventoryPriceEachMonthInYearX] @Year int
AS
SELECT Month(Inventory.Period) AS Month_, SUM(Inventory.QuanityLast*Product.Price_Purchase)AS InventoryPrice
FROM Inventory inner join Product on Inventory.ID_Product = Product.ID_Product
WHERE YEAR(Inventory.Period)= 2019
GROUP BY   Month(Inventory.Period)


GO
/****** Object:  StoredProcedure [dbo].[Invoice_InvoiceFromDateXtoDateY]    Script Date: 17/06/2020 8:16:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[Invoice_InvoiceFromDateXtoDateY] @DateX datetime,@DateY datetime 
AS
SELECT *
FROM Invoice
WHERE (Invoice.CreateAt) between @DateX and @DateY




GO
/****** Object:  StoredProcedure [dbo].[ListOfHowMuchRevenueAndProfitEachCustomerBringingInEachMonthOfYearX]    Script Date: 17/06/2020 8:16:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ListOfHowMuchRevenueAndProfitEachCustomerBringingInEachMonthOfYearX] @Year int
AS
SELECT  MONTH(inv.CreateAt) AS Month, inv.ID_Customer, SUM(inv.TotalValue) as Revenue,
         SUM(invdl.Quanity*(p.price_Sale - p.Price_Purchase)) as Profit
FROM Customer as cus inner join Invoice as inv on cus.ID_Customer = inv.ID_Customer
                             inner join InvoiceDetail as invdl on inv.ID_Invoice = invdl.ID_Invoice
					         inner join Product as p on invdl.ID_Product = p.ID_Product 
WHERE Year(inv.CreateAt) = @Year
GROUP BY inv.ID_Customer,MONTH(inv.CreateAt)
ORDER BY  inv.ID_Customer
GO
/****** Object:  StoredProcedure [dbo].[ListOfInvoiceInMonthXYearX]    Script Date: 17/06/2020 8:16:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[ListOfInvoiceInMonthXYearX] @month int, @Year INT
AS
SELECT *
FROM Invoice
WHERE MONTH(CreateAt) = @month AND YEAR(CreateAt) = @Year

GO
/****** Object:  StoredProcedure [dbo].[ListOfProductsSoldTotalSoldRevenueAndProfitInMonthXYearY]    Script Date: 17/06/2020 8:16:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[ListOfProductsSoldTotalSoldRevenueAndProfitInMonthXYearY] @month int, @year int
AS
SELECT invdl.ID_Product, Sum(invdl.Quanity) as TotalSold, Sum(invdl.TotalValue) as Revenue, Sum(invdl.Quanity*(p.Price_Sale-p.Price_Purchase)) as Profit
FROM InvoiceDetail as invdl inner join Product as P on invdl.ID_Product = p.ID_Product
                         inner join Invoice as inv on invdl.ID_Invoice = inv.ID_Invoice
WHERE MONTH(inv.CreateAt) = @month AND YEAR(inv.CreateAt) = @year
GROUP BY invdl.ID_Product
ORDER BY TotalSold DESC

GO
/****** Object:  StoredProcedure [dbo].[ListProductWithX]    Script Date: 17/06/2020 8:16:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ListProductWithX] @ID_ProductX nchar(10)
AS
SELECT  inv.ID_Product, p.NameProduct, COUNT(*) as Appearance
FROM InvoiceDetail inv inner join Product p on inv.ID_Product = p.ID_Product
WHERE ID_Invoice in (SELECT ID_Invoice
					 FROM InvoiceDetail 
					 WHERE InvoiceDetail.ID_Product = @ID_ProductX) 
  and inv.ID_Product <> @ID_ProductX
GROUP BY inv.ID_Product ,p.NameProduct
ORDER BY COUNT(*) DESC
GO
/****** Object:  StoredProcedure [dbo].[ProductFollowByPrice]    Script Date: 17/06/2020 8:16:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ProductFollowByPrice] @PRICE1 float, @PRICE2 float, @CATEGORY nvarchar(100), @IDPRODUCER nvarchar(10)
AS
SELECT Product.NameProduct, Product.Price_Sale
FROM Product INNER JOIN Category ON Product.ID_ProductClass=Category.ID_ProductClass
   WHERE (Product.Price_Sale BETWEEN @PRICE1 AND @PRICE2) AND         Category.Category=@CATEGORY AND Product.ID_Producer=@IDPRODUCER

GO
/****** Object:  StoredProcedure [dbo].[ProductImport]    Script Date: 17/06/2020 8:16:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ProductImport] @MONTH DATETIME
AS 
SELECT 
EnterCouponDetail.ID_Product,Category.Category, Product.NameProduct ,EnterCouponDetail.Quanity, (EnterCouponDetail.TotalValue) as TotalPrice
FROM
((EnterCouponDetail INNER JOIN EnterCoupon ON EnterCouponDetail.ID_Enter=EnterCoupon.ID_Enter) 
INNER JOIN Product ON Product.ID_Product=EnterCouponDetail.ID_Product) 
INNER JOIN Category ON Category.ID_ProductClass=Product.ID_ProductClass
WHERE MONTH(EnterCoupon.CreateAt)=@MONTH
GO
/****** Object:  StoredProcedure [dbo].[ProductNotSaleInYearX]    Script Date: 17/06/2020 8:16:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ProductNotSaleInYearX] @Year datetime
AS
SELECT Product.ID_Product, Product.NameProduct
FROM Product 
WHERE Product.ID_Product NOT IN
( 
SELECT InvoiceDetail.ID_Product
FROM InvoiceDetail INNER JOIN Invoice ON Invoice.ID_Invoice=InvoiceDetail.ID_Invoice
WHERE YEAR(Invoice.CreateAt)=@Year
)
GO
/****** Object:  StoredProcedure [dbo].[ProfitOfEachProduct]    Script Date: 17/06/2020 8:16:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ProfitOfEachProduct]
AS
SELECT ID_Product, NameProduct, (Price_Sale-Price_Purchase) as Profit
FROM Product
GROUP BY ID_Product, NameProduct, (Price_Sale-Price_Purchase)


GO
/****** Object:  StoredProcedure [dbo].[RevenueOfEachCategoryByMonthInYearX]    Script Date: 17/06/2020 8:16:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[RevenueOfEachCategoryByMonthInYearX] @year int
AS
SELECT Ca.Category, Sum(inv.TotalValue) as Total, MONTH(CreateAt) as Month
FROM InvoiceDetail as invdl inner join Product as p on invdl.ID_Product = p.ID_Product
	                        inner join Category as ca on p.ID_ProductClass = ca.ID_ProductClass
                            inner join Producer as pr on p.ID_Producer = pr.ID_Producer
							inner join Invoice as inv on invdl.ID_Invoice = inv.ID_Invoice
WHERE YEAR(inv.CreateAt) = @year
GROUP BY  Ca.Category, MONTH(inv.CreateAt)
GO
/****** Object:  StoredProcedure [dbo].[RevenueOfEachProducerByMonthInYearX]    Script Date: 17/06/2020 8:16:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[RevenueOfEachProducerByMonthInYearX] @year int
AS
SELECT pr.NameProducer, Sum(inv.TotalValue) as Total, MONTH(CreateAt) as Month
FROM InvoiceDetail as invdl inner join Product as p on invdl.ID_Product = p.ID_Product
	                        inner join Category as ca on p.ID_ProductClass = ca.ID_ProductClass
                            inner join Producer as pr on p.ID_Producer = pr.ID_Producer
							inner join Invoice as inv on invdl.ID_Invoice = inv.ID_Invoice
WHERE YEAR(inv.CreateAt) = @year
GROUP BY  pr.NameProducer, MONTH(inv.CreateAt)
GO
/****** Object:  StoredProcedure [dbo].[Top5TheMostSoldProductInEachMonthOfYearX]    Script Date: 17/06/2020 8:16:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE  PROCEDURE [dbo].[Top5TheMostSoldProductInEachMonthOfYearX] @year int
AS
BEGIN
    DECLARE @month INT = 0
           WHILE @month < 12
             BEGIN
                  SET @month = @month + 1;
  
			       SELECT TOP(5)  MONTH(inv.CreateAt) as month, invdl.ID_Product, SUM(invdl.Quanity) as Total

				   FROM InvoiceDetail as invdl inner join Product as p on invdl.ID_Product = p.ID_Product
                            inner join Invoice as inv on invdl.ID_Invoice = inv.ID_Invoice
				   WHERE MONTH(INV.CREATEAT) = @month AND YEAR(inv.CreateAt) = @year
				   GROUP BY MONTH(inv.CreateAt), invdl.ID_Product
				   ORDER BY SUM(invdl.Quanity) DESC
	           END
END

GO
/****** Object:  StoredProcedure [dbo].[Top5TheMostSoldProductsInYearX]    Script Date: 17/06/2020 8:16:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[Top5TheMostSoldProductsInYearX] @Year INT
AS
SELECT TOP(5) invdl.ID_Product, Sum(invdl.Quanity) as TotalSold
FROM InvoiceDetail as invdl inner join Product as p on invdl.ID_Product = p.ID_Product
                            inner join Invoice as inv on invdl.ID_Invoice = inv.ID_Invoice
WHERE YEAR(inv.CreateAt) = @Year
GROUP BY invdl.ID_Product
ORDER BY TotalSold Desc

GO
/****** Object:  StoredProcedure [dbo].[UPDATE_COUPON]    Script Date: 17/06/2020 8:16:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[UPDATE_COUPON] @identer nchar(10)=null, @idemployee nchar(10)=null, @idvendor nchar(10)=null, @at datetime, @value float=null
AS
BEGIN
     UPDATE EnterCoupon
     SET ID_Employee=@idemployee, ID_Vendor=@idvendor, CreateAt=@at, TotalValue=@value
     WHERE ID_Enter=@identer
END

GO
/****** Object:  StoredProcedure [dbo].[UPDATE_EMPLOYEE]    Script Date: 17/06/2020 8:16:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[UPDATE_EMPLOYEE] @idemployee nchar(10)=null, @idposition char(4)=null, @name nvarchar(80)=null, @phone int =null
AS
BEGIN
     UPDATE Employee 
	 SET ID_Position=@idposition, NameEmployee=@name, PhoneEmployee=@phone
     WHERE ID_Employee=@idemployee
END


GO
/****** Object:  StoredProcedure [dbo].[UPDATE_INVOICE]    Script Date: 17/06/2020 8:16:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[UPDATE_INVOICE] @idinvoice nchar(10)=null, @idcustomer nchar(10)=null, @at datetime=null, @idemployee nchar(10)=null, @value float=null
AS
BEGIN
     UPDATE Invoice
	 SET ID_Customer=@idcustomer, CreateAt=@at, ID_Employee=@idemployee, TotalValue=@value
     WHERE ID_Invoice=@idinvoice
END

GO
/****** Object:  StoredProcedure [dbo].[VendorValueMonth]    Script Date: 17/06/2020 8:16:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[VendorValueMonth] @VENDOR NCHAR(10), @MONTH DATETIME
AS
SELECT
EnterCouponDetail.ID_Product, Product.NameProduct, Category.Category, producer.NameProducer, EnterCouponDetail.Quanity, Product.Price_Purchase, (Product.Price_Purchase*EnterCouponDetail.Quanity) AS TotalValue
FROM 
(((EnterCouponDetail INNER JOIN EnterCoupon ON EnterCouponDetail.ID_Enter=EnterCoupon.ID_Enter) INNER JOIN Product ON Product.ID_Product=EnterCouponDetail.ID_Product) INNER JOIN category ON product.ID_ProductClass=category.ID_ProductClass) INNER JOIN producer ON Producer.ID_Producer=Product.ID_Producer
WHERE 
   EnterCoupon.ID_Vendor=@VENDOR AND MONTH(EnterCoupon.CreateAt)=@MONTH
GO
/****** Object:  StoredProcedure [dbo].[WhichProducerHasTheMostSoldProDuctInTheSameCategoryInYearX]    Script Date: 17/06/2020 8:16:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[WhichProducerHasTheMostSoldProDuctInTheSameCategoryInYearX] @Year int
AS
SELECT  t.Category, t.NameProducer, a.MAXGROUP
FROM (SELECT ca.Category, pr.NameProducer, SUM(invdl.Quanity) AS Quantity1
	  FROM InvoiceDetail as invdl inner join Product as p on invdl.ID_Product = p.ID_Product
	                              inner join Category as ca  on p.ID_ProductClass = ca.ID_ProductClass
                                  inner join Producer as pr on p.ID_Producer = pr.ID_Producer 
								  inner join Invoice as inv on invdl.ID_Invoice = inv.ID_Invoice
      WHERE YEAR(inv.CreateAt) = @Year
      GROUP BY Ca.Category, Pr.NameProducer) as t 
	  INNER JOIN  
      (SELECT  a.Category, MAX(a.Quantity1) MAXGROUP
       FROM (SELECT  ca.Category, Pr.NameProducer, SUM(invdl.Quanity) AS Quantity1
             FROM InvoiceDetail as invdl inner join Product as p on invdl.ID_Product = p.ID_Product
	                                     inner join Category as ca on p.ID_ProductClass = ca.ID_ProductClass
                                         inner join Producer as pr on p.ID_Producer = pr.ID_Producer
										 inner join Invoice as inv on invdl.ID_Invoice = inv.ID_Invoice
             WHERE YEAR(inv.CreateAt) = @Year
             GROUP BY ca.Category, pr.NameProducer) as a
       GROUP BY a.Category) a ON t.Category = a.Category AND t.Quantity1 = a.MAXGROUP
GO
